body {
  background: #221F1E;
  color:  #FFFBFB;
}

a {
  color: #FFFBFB;
  &:hover {
    color: #FFFBFB;
    text-decoration: none;
  }
}

p{
  color: #FFFBFB;
}

.main-title {
  margin-top: 8px;
  text-align: center;
}

.rwnd-button {
  color: #FFFBFB;
  background-color: #22201f;
  border-color: #FFFBFB;
  padding: 4px 32px;
  border-radius: 6px;
}

.footer-container {
  margin-bottom: 80px;
}
