@import "App";
@import "HorizontalMovieCard";
@import "HorizontalMovieList";
 .footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: #140100;
    height: 64px;
    padding: 4px;
}

.footer-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  color : #FFFBFB;
}

.search-modal {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background: #FFF;
}
