.horizontal-movie-list {
  margin: 24px 8px;

  .header {
    margin-right: 60px;
    text-align: initial;
    border-bottom: solid 1px #FFFBFB;
    font-size: 20px;
  }

  .horizontal-movies-container{
    display: flex;
    overflow-y: auto;
  }
}
